 @tailwind base;
@tailwind components;
@tailwind utilities; 



:root {
  --foreground: #333333; 
}



body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  background: linear-gradient(120deg, #1e3a8a, #3b82f6);
  color: white;
}

h1, .gameTitle {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #ffffff; /* White for contrast on blue background */
}

.gameRating {
  font-size: 1.2em;
  color: #facc15; /* Bright yellow for ratings */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

